.container-dispensavel{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25pt;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

main{
  width: 35vw;
  height: 98vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.ambiente-mensagens{
  margin-top: 1vh 0;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #e1f0c1;
}